body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  button {
    background-color: #1e6ed0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #1e6ed0;
  }
  select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }